<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pets First! Veterinary Clinic</title>
    <meta name="animal clinic" content="Pets First Veterinary Clinic is located in Planos, TX">
  </head>

  <body>
    <header>
      <a class="logo" href="index.html"> <img src="images/pf.svg" alt="Pets First! Vet Clinic"></a>
      <a href="#menu" class="menu-link">
          <div class="menu-link__hamburger">
              <span></span>
              <span></span>
              <span></span>
          </div>
          <div class="menu-link__label">Menu</div>
      </a>

  <div class="dropdown-content">
    <nav id="menu" role="navigation">
      <ul>
        <li><a class="link" href="#">About Us</a></li>
        <li><a class="link" href="services.html">Our Services</a></li>
        <li><a class="link" href="services.html">Events</a></li>
        <li><a class="link" href="care_guides.html">Care Guides</a></li>
        <li><a class="link" href="contact.html">Contact Us</a></li>
        <li><a class="portal" href="#">Pet Portal</a></li>
      </ul>
    </nav>
  </div>

 </header>
<main>

    <section class="title">
          <h1>Care Guides</h1>
          <p class="caption">The ultimate guide to keeping your pet happy and healthy!</p>
        </section>

      <section class="feline">
        <div class="cat">
            <p class="question">Is your feline friend happy and healthy?</p>
            <a class="more" href="#">Learn More</a>
          </div>
        </section>

        <section class="canine">
            <p class="question2">Is your dog behaving unusual lately? Find out how to keep them happy &amp; healthy by clicking below.</p>
            <a class="more" href="#">Learn More</a>
        </section>

        <section class="exotic">
            <p class="question">Is your exotic pet happy and healthy?</p>
            <a class="more" href="#">Learn More</a>
        </section>
      </main>

        <!-- Footer content -->
          <footer>
            <section class="contact">
             <p class="pn">330.672.3000</p>
             <p class="address">858 Portage Drive</p>
             <p>Kent,OH 44240</p>
           </section>

           <section class="terms">
             <p class="cr">2016 Pets First! All Rights Reserved</p>
             <a class="pp" href="#">Privacy Policy</a>
             <a class="tu" href="#">Terms of Use</a>
           </section>

           <section class="media">
             <p class="follow">Follow us on:</p>
             <a href="#"><img class="social" src="images/fb.png" alt="facebook"></a>
             <a href="#"><img class="social" src ="images/Instagram.png" alt="instagram"></a>
             <a href="#"><img class="social" src="images/Twitter.png" alt="twitter"></a>
           </section>
           </footer>


      <link href="home.css" rel="stylesheet" type="text/css" media="screen"/> <link href="pet_guide.css" rel="stylesheet" type="text/css" media="screen"/> <!-- Add your stylesheet here, before the closing HTML tag -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="menu.js"></script>
  </body>
</html>
