<!DOCTYPE html>
    <html lang="en-us">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pets First! Veterinary Clinic</title>
        <meta name="animal clinic" content="Pets First Veterinary Clinic is located in Kent,OH">
      </head>

      <body>
        <header>
          <a class="logo" href="index.html"> <img src="images/pf.svg" alt="Pets First! Vet Clinic"></a>


    <!--<div class="right-header">
    <div class="dropdown">
      <button class="dropbtn"><div class="sandwich"><svg><?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg width="35px" height="22px" viewBox="0 0 35 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
        <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
        <!--<title>sandwich-menu</title>
        <desc>sandwich-menu</desc>
        <defs>
            <rect id="path-1" x="0" y="0" width="34.2060547" height="6" rx="3"></rect>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="34.2060547" height="6" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <rect id="path-3" x="0" y="8" width="34.2060547" height="6" rx="3"></rect>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="34.2060547" height="6" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
            <rect id="path-5" x="0" y="16" width="34.2060547" height="6" rx="3"></rect>
            <mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="34.2060547" height="6" fill="white">
                <use xlink:href="#path-5"></use>
            </mask>
        </defs>
        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Mobile-Portrait" transform="translate(-13.000000, -12.000000)" stroke="#FFFFFF" stroke-width="2" fill="#FFFFFF">
                <g id="Group" transform="translate(13.000000, 12.000000)">
                    <use id="Rectangle-2" mask="url(#mask-2)" xlink:href="#path-1"></use>
                    <use id="Rectangle-2" mask="url(#mask-4)" xlink:href="#path-3"></use>
                    <use id="Rectangle-2" mask="url(#mask-6)" xlink:href="#path-5"></use>
                </g>
            </g>
        </g>
    </svg></div></button>-->

    <div class="dropdown-content">
    <nav>
      <ul class:"nav-bar">
      <li><a class="link" href="#">About Us</a></li>
      <li><a class="link" href="services.html">Our Services</a></li>
      <li><a class="link" href="services.html">Events</a></li>
      <li><a class="link" href="care_guides.html">Care Guides</a></li>
      <li><a class="link" href="contact.html">Contact Us</a></li>
      <li><a class="portal" href="#">Pet Portal</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="p">
    <p class="pic">Photo Goes Here!</p>
  </section>

   <section class="new">
     <p>All <strong>NEW</strong> patients are <strong>WELCOME</strong>!</p>
   </section>

<main>
  <div class="box">
      <section class="direction">
        <h3>Pets First! Veterinary Clinic</h3>
        <p class="add">858 Portage Dr. <br>
        Kent, OH 44240</p>
        <p class="number"><strong>Phone:</strong> 330.672.3000</p>
        <a class="map" href="#">Get Directions</a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.3760932058435!2d-81.3503361849814!3d41.14814407928687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8831252efa296f5f%3A0xb2b56fb28cc8243b!2sPortage+Dr%2C+Kent%2C+OH+44243!5e0!3m2!1sen!2sus!4v1481324158085" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </section>

<!-- Business Hours -->
    <section class="business">
      <div class="hours hours-full">
        <h4>Business Hours</h4>
        <table>
            <tr>
              <td class="week">Monday</td>
              <td>7:30am - 6:00pm</td>
            </tr>

            <tr>
              <td class="week">Tuesday</td>
              <td>7:30am - 2:00pm</td>
            </tr>

            <tr>
              <td class="week">Wednesday</td>
              <td>7:30am - 6:00pm</td>
            </tr>

            <tr>
              <td class="week">Thursday</td>
              <td>7:30am - 6:00pm</td>
            </tr>

            <tr>
              <td class="week">Friday</td>
              <td>7:30am - 6:00pm</td>
            </tr>

            <tr>
                <td class="week">Saturday</td>
                <td>9:00am - 1:00pm</td>
            </tr>

            <tr>
              <td class="week">Sunday</td>
              <td><strong>Closed</strong></td>
            </tr>
          </table>

          <p class="notice">We will be closed on Memorial Day, Independence Day, Labor Day, Thanksgiving Day,
            Christmas Day and New Year's Day.</p>
          </div>

          <div class="blog blog-full">
          <h4>Blog</h4>
          <div class="t">
          <h5>July 2016</h5>
          <div class="july">
          <p>Lost or Found Pet/Animal in Contra Costa County</p>
          <p><strong>Written by: Allie Mae</strong></p>
          <p>So you've either found this quick guide to help get you on the right
            path of finding your beloved pet or reuniting the furry friend with their human.</p>
            <a href="#">Read More</a>
          </div>
          <hr>
          <h5>April 2016</h5>
          <p class="april">No blogs posted for this month</p>
        </div>
   </section>
 </div>

<!-- Feedback Submission -->
   <section class="feedback">
     <p class="hear">We'd Love to Hear From You, Get in Touch with Us!<p>
     <p class="feel">Feel free to call us at 330.672.3000 or fill out your information below and we will get back with
         you as soon as possible.</p>
     <p class="if">If you have an emergency please call the Emergency Pet Hotline immediately!</p>

     <p class="name">Name (required)</p>
     <p class="email">Email (required)<p>
     <p class="message">Message</p>
     <a class="submit" href="#">Submit</a>
   </section>
 </main>

<!-- Footer content -->
  <footer>
   <section class="contact">
     <p class="pn">330.672.3000</p>
     <p class="address">858 Portage Drive</p>
     <p>Kent,OH 44240</p>
   </section>

   <section class="terms">
     <p class="cr">2016 Pets First! All Rights Reserved</p>
     <a class="pp" href="#">Privacy Policy</a>
     <a class="tu" href="#">Terms of Use</a>
   </section>

   <section class="media">
     <p class="follow">Follow us on:</p>
     <a href="#"><img class="social" src="images/Facebook.png" alt="facebook"></a>
     <a href="#"><img class="social" src ="images/Instagram.png" alt="instagram"></a>
     <a href="#"><img class="social" src="images/Twitter.png" alt="twitter"></a>
   </section>
   </footer>

      <link href="home.css" rel="stylesheet" type="text/css" media="screen"/> <link href="contact.css" rel="stylesheet" type="text/css" media="screen"/><!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>
