@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Josefin+Slab:400,700');

header {
      display: flex;
      flex-wrap: wrap;
      background-color: hsl(195.3, 34.4%, 24.5%);
      padding: 1em;
      position: relative;
    }

 .p {
   background-image: url("images/pawprint_background.jpg");
   background-size: cover;
   max-width: 100%;
   padding: 3em;
 }

 .pic{
   text-align: center;
   font-size: 1.3em;
 }
 .direction {
   background-color: white;
   padding: .5em 1em 1em 1em;
 }

@media screen and (min-width: 400px) {

  .direction {
    text-align: center;
  }

  .week {
    text-align: left;
  }

  .feedback {
    text-align: center;
  }

  iframe {
    width: 19em;
    margin-top: 2em;
  }

  .blog-full {
    text-align: center;
  }

  .submit {
    max-width: 100%;
    padding: 1em;
  }
}
@media screen and (min-width: 700px) {
  .box {
    display: flex;
  }

  .hours-full {
    width: auto;
    margin-right: 0;
  }

  .blog-full {
    width: auto;
    text-align: left;
  }

  .direction {
    margin-right: 2%;
    margin-top: 1em;
    text-align: left;
  }

iframe {
    max-width: 100%;
    margin-top: 2em;
  }

  .feedback {
    text-align: left;
  }

  .email {
    max-width: 4em;
  }

  .submit{
    width: 8em;
  }
}
/* end of @media screen and (min-width: 700px)*/

h4 {
  padding-left: .25em;
}
 .map {
   text-decoration: none;
   background-color: hsl(195.3, 34.4%, 24.5%);
   text-align: center;
   padding: .75em;
   border-radius: .5em;
   font-size: 1em;
 }

/* Business Hours */
  .hours {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  .blog {
    padding-right: 2em;
  }

/* feedback */
  .feedback {
    margin: 4em 0 5em 1em;
  }

  .hear {
    font-size: 1.6em;
    font-weight: 600;
  }

  .if {
    color: red;
    font-weight: 700;
    margin-top: -.45em;
  }

h5 {
  padding-top: none;
}

  .july, .april {
    font-size: .85em;
  }

  .july {
    padding-bottom: 1.5em;
  }
/* submission form */
.name, .email, .message {
  font-size: .95em;
}
  .name {
    background-color: #f4f4f4;
    border: 1px solid #E6976F;
    padding: .65em;
    max-width: 30%;
    color: gray;
    margin-top: 40px;
  }

  .email {
    background-color: #f4f4f4;
    border: 1px solid #E6976F;
    padding: .65em;
    max-width: 30%;
    color: gray;
    margin-top: 20px;
  }

  .message {
    background-color: #f4f4f4;
    border: 1px solid #E6976F;
    padding: .75em .75em 13em .75em;
    max-width: 75%;
    color: gray;
    margin-top: 20px;
  }

  .submit {
    display: block;
    text-decoration: none;
    background-color: hsl(195.3, 34.4%, 24.5%);
    text-align: center;
    border-radius: .5em;
    font-size: 1em;
    margin-top: 1em;
  }
