@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Josefin+Slab:400,700');

header {
      display: flex;
      background-color: hsl(195.3, 34.4%, 24.5%);
      padding: 1em;
    }
/* Header, nav menu, pet portal */

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color:  #62a4b7;
}
  .logo {
    background-image: url("/images/pf.svg");
    width:200px;
    max-width: 20%;
  }

  .dropdown-content {
    margin-left: 4em;
    padding-top: 3em;
  }

.aaha {
  width: 20em;
  margin-top: 2em;
}


nav {
  display: none; /* Hides the nav on small screens */
}

/* smallest responsive breakpoint */
@media screen and (min-width: 400px){
  .top-photo {
    background-image: url("images/pawprint_background.jpg");
  }

  a.logo {
    max-width: 1100px;
  }

  .dropdown-content {
    padding: 0;
  }


    .intro {
      text-align: center;
    }

    .welcome {
      margin-top: 1.5em;
    }

    .hours {
      text-align: center;
    }

    .week {
      padding-left: 1.5em;
    }

    .blog {
      text-align: center;
    }

    .icons {
      margin-top:2em;
    }

    figcaption {
      margin-bottom: 1em;
      font-weight: 400;
    }

/* Why you should choose us? section */
    .reasons {
      text-align: center;
      padding-bottom: 2em;
    }

    .icon {
      width:8em;
      padding: 1em 0;
    }

    .goal {
      text-align: center;
    }

    footer {
      margin-top: 4em;
      text-align: center;
    }

    .contact {
      padding-top: 1em;
    }

    .media {
      padding-top: 1.5em;
    }
}

@media screen and (min-width: 900px) {
  nav {
    display: block;
  }

  .media{
    padding-top: 1em;
  }
}

nav ul {
  width: 100px;
  white-space: nowrap;
  list-style-type: none;
  display: flex;
}

li {
  padding: 0 2em 0 .125em;
}

  .portal {
    text-decoration: none;
    background-color: #E6976F;
    padding: .5em;
    border-radius: .25em;
    margin-left: 6em;
  }
  .portal:hover  {
    background-color: #000;
    transition: all 0.5s;
  }

  .link {
    text-decoration: none;
  }

body {
      background-color: #ededed;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
    }

main {
  padding: 0 2em;
}
/*Announcement section*/
    .new {
      text-align: center;
      font-size: 2em;
      color:  #E6976F;
      background-color: #C7E0E7;
      margin-left: .125em;
      padding: .5em;
    }

/* home page main attraction */
    .top-photo {
      background-image: url("images/Graphic_Pets.png");
      background-size: cover;
      padding: 5em;
    }

    .lets {
      font-weight: normal;
      font-size: 1em;
      color: #2e5d6b;
    }

    .adjectives {
      font-size: 3em;
      color: #458da1;
      margin-top: -.02em;
      margin-bottom: 2em;
    }

    .appointment {
      text-decoration: none;
      background-color: hsl(195.3, 34.4%, 24.5%);
      width: 262px;
      text-align: center;
      padding: 1em;
      border-radius: .5em;
      font-size: 1.2em;
    }

/*Welcome to Site*/

    .welcome {
      font-weight: bold;
      font-size: 1.3em;
    }

    .y {
      font-weight: 400;
      font-size: 2em;
    }

    .call {
      font-weight: 400;
      font-size: 1.5em;
    }

    .emergency {
      text-decoration: none;
    }

h2 {
    font-family: 'Josefin-Slab', serif;
    color: #E6976F;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #E6976F;
  }


/*Business hours information*/
h4 {
  border-bottom: 1px solid #E6976F;
  padding-bottom: .75em;
}
  .week {
    font-weight: bold;
    padding-right: 2em;
  }

  .week, .notice {
    line-height: 1.5em;
  }

  .hours {
    background-color: white;
    margin: 1em 0 ;
    padding: .125em 1em .5em 1em;
  }

@media screen and (min-width: 700px) {

  .intro {
    text-align: left;
  }

  .right-side {
    display: flex;
  }

  .hours {
    width: 49%;
    margin-right: 2%;
    text-align: left;
  }

  .week {
    padding-left: .125em;
  }

  .blog {
    width: 49%
  }

  .terms {
    text-align: center;
  }
}

/* blog */
  .blog {
    background-color: #C7E0E7;
    color: #404142;
    margin: 1em 0;
    padding: .125em 1em 2em 1em;
  }

  .t {
    background-color: #5C9BAD;
    color: white;
    padding: 1em;
    width: 95%;
    text-align: left;
  }

/*Our mission*/
  .goals {
    line-height: 2em;
  }

  .goals2 {
    font-size: 1.4em;
  }

footer {
    background-color: hsl(195.3, 34.4%, 24.5%);
    color: white;
    padding: .125em 2em 1em 2em;

  }

  .follow {
    font-size: 1em;
    font-weight: bold;
  }
  .social {
    max-width: 10%;
  }

  .media {


  }

  .contact {

  }

  .terms {
    line-height: 1em;
    margin-top: 2em;
  }

  @media screen and (min-width: 700px) {
    .blog {
      text-align: left;
    }

    footer {
      display: flex;
      padding: 4em 2em 2em 2em;
      text-align: left;
    }

    .media {
      margin-left: auto;
      text-align: right;
      margin-top: 2.5em;
    }

    .contact {
      width: 40%;
      margin-top: 1.5em;
    }

    .terms {
      width: 30%;
      margin-top: 3.5em;
    }
  }
