body
{background-color: white;
padding: .5em;
margin: .5em;
font-family: 'Josefin Sans', sans-serif;}

/* Header */
header
{display: flex;
 align-items: top;
 background-color: hsl(195.3, 34.4%, 24.5%) ;
height: 75px;
max-width: 100%;
margin: auto;
}

.right-header{
 background-color: hsl(195.3, 34.4%, 24.5%) ;
  display: flex;
  position: absolute;
  right: 1em;
  height: 25px;
  max-width: 100%;
  margin: 1em;
}

.logo
{width: 200px;
display: inline;
padding: .2em;}



.sandwich{
  display: flex;
  max-width: 35px;
  background-color: hsl (195.3, 34.4%, 24.5%);
}

/* pet portal button */

  .portal {
     max-width: 50%;
     padding: .5em;
     margin: .25em;
     text-align: center;
     background-color: hsl(13.6,     78.6%, 67.1%);
     height: 12px;
    border-radius: 10px;
    color: white;}

/* pet portal link */
.portal
a:link
{color: white;
text-decoration: none;}

.portal
a:visited
{color: hsl(193.1, 40%, 84.3%);
text-decoration: none;}

.portal
a:hover
{color: hsl(195.3, 34.4%, 24.5%);
text-decoration: none;}

.portal
a:active
{color: hsl(13.6, 78.6%, 67.1%);
text-decoration: none;}


/* DROPDOWN */


/* Style The Dropdown Button */
.dropbtn {
  background-color: hsl(195.3, 34.4%, 24.5%);
    height: 50px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: cursor;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
      height: 50px;
    background-color: hsl: (195.3, 34.4%, 24.5%);
    position: relative;
    display: flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: hsl(193.3, 33.1%, 52%);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: hsl(193.1, 40%, 84.3%);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.10);
}

/* Body */

.top-photo {
	background-image: url("images/PetsFirst-Header1.png");
	background-size: cover;
  padding: 1.5em;
}

.adjectives .top-photo  {
  background-color: red;
}

.appointment {
  color: red;}
