<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pets First! Veterinary Clinic</title>
    <meta name="animal clinic" content="Pets First Veterinary Clinic is located in Kent,OH">
</head>

  <body>
    <header>
      <a class="logo" href="index.html"> <img src="images/pf.svg" alt="Pets First! Vet Clinic" /></a>

      <a href="#menu" class="menu-link">
          <div class="menu-link__hamburger">
              <span></span>
              <span></span>
              <span></span>
          </div>
          <div class="menu-link__label">Menu</div>
      </a>

<div class="dropdown-content">

  <nav id="menu" role="navigation">
    <ul>
    <li><a class="link" href="#">About Us</a></li>
    <li><a class="link" href="services.html">Our Services</a></li>
    <li><a class="link" href="services.html">Events</a></li>
    <li><a class="link" href="care_guides.html">Care Guides</a></li>
    <li><a class="link" href="contact.html">Contact Us</a></li>
    <li class="portal2"><a class="portal" href="#">Pet Portal</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="top-photo">
  <!--<p>The best in veterinary care</p>
<p>We make it a priority to provide you and your pet(s) with excellent
care. <br>Call us to learn more.</p>
<a href="#">Make an Appointment</a>-->
  <p class="lets">Lets work together to keep your beloved companion(s) ...</p>

  <p class="adjectives"><strong>HAPPY</strong> &amp; <strong>HEALTHY</strong>!</p>

  <a class="appointment" href="#">Make an Appointment</a>
</section>

<section class="new">
<p>All <strong>NEW</strong> patients are <strong>WELCOME</strong>!</p>
</section>
  <main>


    <section class="intro">
      <p class="welcome">Welcome to Pets First! Veterinary Clinic</p>
      <p class="y">Your Veterinarian in Kent, OH!</p>
      <p class="call">Call us at 330.672-3000</p>
      <p class="emergency"><em>Pet Emergency? Call the Emergency Pet Hotline right away!</em></p>
      <p class="detail">Whether they are four-legged, furry, or winged, your pets deserve tender, love, and care from veterinarians who truly love animals!
        <br><br>Here at Pets First, all our veterinarians and staff are devoted to staying on top of the latest diagnostics,
        treatments, and wellness programs to maintain your pet's optimal health. Let's work
        together to keep your beloved furry or winged friend happy and healthy!
        <p><strong>We look forward to meeting you and your pet(s)!</strong></p>
      </section>

      <aside class="right-side">
      <div class="hours">
        <h4>Business Hours</h4>
        <table>
            <tr>
              <td class="week">Monday</td>
              <td class="time">7:30am - 6:00pm</td>
            </tr>

            <tr>
              <td class="week">Tuesday</td>
              <td class="time">7:30am - 2:00pm</td>
            </tr>

            <tr>
              <td class="week">Wednesday</td>
              <td class="time">7:30am - 6:00pm</td>
            </tr>

            <tr>
              <td class="week">Thursday</td>
              <td class="time">7:30am - 6:00pm</td>
            </tr>

            <tr>
              <td class="week">Friday</td>
              <td class="time">7:30am - 6:00pm</td>
            </tr>

            <tr>
                <td class="week">Saturday</td>
                <td class="time">9:00am - 1:00pm</td>
            </tr>

            <tr>
              <td class="week">Sunday</td>
              <td class="time"><strong>Closed</strong></td>
            </tr>
          </table>

          <p class="notice">We will be closed on Memorial Day, Independence Day, Labor Day, Thanksgiving Day,
            Christmas Day and New Year's Day.</p>
          </div>

          <div class="blog">
          <h4>Blog</h4>
          <div class="t">
          <h5>July 2016</h5>
          <div class="july">
          <p>Lost or Found Pet/Animal in Contra Costa County</p>
          <p><strong>Written by: Allie Mae</strong></p>
          <p>So you've either found this quick guide to help get you on the right
            path of finding your beloved pet or reuniting the furry friend with their human.</p>
            <a href="#">Read More</a>
          </div>
          <hr>
          <h5>April 2016</h5>
          <p class="april">No blogs posted for this month</p>
        </div>
      </aside>

    <section class="icons">
      <h2>Why YOU Should Choose Us?</h2>

      <div class="reasons">
        <figure>
        <img class="icon" src="images/trophy.svg"/>
        <figcaption>Best Medical Care</figcaption>
      </figure>

      <figure>
        <img class="icon" src="images/heart.svg"/>
        <figcaption>Pets Treated with Lots of Love</figcaption>
      </figure>

      <figure>
        <img class="icon" src="images/pharmacy.svg"/>
        <figcaption>In-house pharmacy</figcaption>
      </figure>

      <figure>
        <img class="icon" src="images/hourglass.svg"/>
        <figcaption>Decreased Wait Time</figcaption>
      </figure>
      </div>
      </section>

      <section class="goal">
        <h2>What We Strive For?</h2>
        <p class="goals">Our goal is to make pet owners and their pets as comfortable as possible during your
          veterinarian visit. Pets First strives to provide pets with <strong>decreased wait time</strong>, and
          always make <strong>client service a priority</strong>. Additionally, all of the Veterinarians at Pets First
          enjoy rewarding our patients with as much <strong>T.L.C.</strong> as possible. We are very flexible and will do anything we can
          to make the visit less stressful for your loved pets - dogs, cats and more. Dr. Benjamin chooses his veterinary team members
          very carefully and specifically looks for individuals that can help him achieve these goals.</p>
          <p class="goals2">At our clinic, we <strong>always welcome new clients and patients</strong> to our full service veterinary practice
            in Kent, OH.</p>
          <img class="aaha" src="images/AAHA_accredited_tag_right.jpg"/>
          </section>
        </main>

    <footer>
    <section class="contact">
      <p class="address">858 Portage Drive <br>Kent,OH 44240</p>
      <p class="pn">330.672.3000</p>
    </section>

    <section class="terms">
      <p class="cr">2016 Pets First! All Rights Reserved</p>
      <a class="pp" href="#">Privacy Policy</a>
      <a class="tu" href="#">Terms of Use</a>
    </section>

    <section class="media">
    <p class="follow">Follow us on:</p>
    <a href="#" class="button"><img class="social" src="images/Facebook.png" alt="facebook"></a>
    <a href="#"><img class="social" src ="images/Instagram.png" alt="instagram"></a>
    <a href="#"><img class="social" src="images/Twitter.png" alt="twitter"></a>
  </section>
    </footer>

      <link href="home.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="menu.js"></script>
    </body>
</html>
