<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pets First Veterinary Clinic</title>
    <meta name="animal clinic" content="Pets First Veterinary Clinic is located in Planos, TX">
  </head>

  <body>
    <header>
      <a class="logo" href="index.html"> <img src="images/pf.svg" alt="Pets First! Vet Clinic"></a>

      <a href="#menu" class="menu-link">
          <div class="menu-link__hamburger">
              <span></span>
              <span></span>
              <span></span>
          </div>
          <div class="menu-link__label">Menu</div>
      </a>

  <div class="dropdown-content">
<nav id="menu" role="navigation">
    <ul>
    <li><a class="link" href="#">About Us</a></li>
    <li><a class="link" href="services.html">Our Services</a></li>
    <li><a class="link" href="services.html">Events</a></li>
    <li><a class="link" href="care_guides.html">Care Guides</a></li>
    <li><a class="link" href="contact.html">Contact Us</a></li>
    <li><a class="portal" href="#">Pet Portal</a></li>
      </ul>
    </nav>
  </div>
</header>

  <main>
    <div>
       <h1>Services</h1>
     </div>

     <div>
      <h2>What We Can Offer YOU</h2>
      <p>Your pet is an important part of your family, and when he or she is ill, you
want the best medical care available. Since we’re American Animal Hospital
Association (AAHA) certified, you can feel assured that your pet will receive the
highest possible level of care.</p>

<p>The veterinarians and staff at our clinic are
ready to provide your pet with cutting edge veterinary medical care. From
wellness exams and vaccines to advanced
diagnostics and complex surgical procedures, your dog, cat or ferret will receive
high quality care at our hospital.</p>

<ul>
<li>Anesthesia</li>
<li>Behavioral Counseling</li>
<li>Boarding (see additional info)</li>
<li>Dental Care</li>
</ul>

<ul>
  <li>We believe that dental care is as important for your pet as it is for you.
  We have 2 fully equipped dental stations that feature ultrasonic scalers as
  well as hand scaling of teeth followed by thorough polishing.</li>

<li> Every dental procedure receives pre-anesthetic medication, a comprehensive
oral exam, IV catheter, supportive fluids and full anesthetic monitoring by a licensed
veterinary technician. </li>
</ul>

<ul>
<li>Diagnostic and Therapeutic Services</li>
<li> Digital Radiology (X-Rays)</li>
<li> Electrocardiography Services</li>
<li>Emergency and Critical Care</li>
<li> Hospice and Euthanasia Services (including at-home)</li>
<li> In-house Laboratory</li>
<li> Laser Therapy</li>
<li> Microchipping</li>
<li>Nutritional and Dietary Counseling</li>
<li>Parasite Prevention and Control</li>
<li>Puppy and Kitten Care</li>
<li> Puppy and Kitten Parties</li>
<li> Rabbits and Small Mammals</li>
<li> Rehabilitation</li>
<li> Senior Care</li>
<li> Surgery</li>
<li> Surgical Laser</li>
<li>Ultrasound</li>
<li>Vaccinations</li>
<li>Wellness Exams</li>
</ul>
</div>

<div>
<h3>In House Pharmacy</h3>

<p>For your convenience, Pets First offers a large selection of pharmaceuticals
and prescription diets on for your pet's specific health needs.</p>
</div>

<div>
<h2>Payment Options</h2>
<h3>How to Pay:</h3>
<p>We accept cash, personal checks (accompanied by a valid drivers license), Visa,
MasterCard and Discover and CareCredit. So that we can continue to provide you
high quality service utilizing the best medical technologies, we request that
payment be made at the time services are rendered.</p>

<p><strong>CareCredit users:</strong> <em>Please note that we offer 6 months no interest
   if total is over $200 and 30 days no interest for anything under $200</em></p>

<p>We provide estimates for all surgeries and hospitalizations. If you have not
received an estimate, you are welcome to request one at any time for your
expected charges.</p>
</div>

<div>
<h2>Types of Pets Seen</h2>

<p>Since there's a large number of veterinarians who practice here, we can care for many
types of pets:</p>

<ul class="types">
<li>Dogs</li>
<li>Cats</li>
<li>Rabbits*</li>
<li>Pocket Pets*</li>
<li>Reptiles*</li>
<li>Birds*</li>
</ul>
<em>**Select veterinarians only. Call us for more information.**</em>
</div>
</main>

<!-- Footer content -->
  <footer>
    <section class="contact">
     <p class="pn">330.672.3000</p>
     <p class="address">858 Portage Drive</p>
     <p>Kent,OH 44240</p>
   </section>

   <section class="terms">
     <p class="cr">2016 Pets First! All Rights Reserved</p>
     <a class="pp" href="#">Privacy Policy</a>
     <a class="tu" href="#">Terms of Use</a>
   </section>

   <section class="media">
     <p class="follow">Follow us on:</p>
     <a href="#"><img class="social" src="images/Facebook.png" alt="facebook"></a>
     <a href="#"><img class="social" src ="images/Instagram.png" alt="instagram"></a>
     <a href="#"><img class="social" src="images/Twitter.png" alt="twitter"></a>
   </section>
   </footer>

  <link href="home.css" rel="stylesheet" type="text/css" media="screen"/> <link href="services.css" rel="stylesheet" type="text/css" media="screen"/> <!-- Add your stylesheet here, before the closing HTML tag -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="menu.js"></script>
  </body>
</html>
