@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Josefin+Slab:400,700');


header {
      display: flex;
      background-color: hsl(195.3, 34.4%, 24.5%);
      padding: 1em;
    }
/* Header, nav menu, pet portal */

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color:  #62a4b7;
}
  .logo {
    max-width: 25%;
  }

  .dropdown-content {
    margin-left: 4em;
    padding-top: 4em;
  }

nav ul {
  width: 100px;
  white-space: nowrap;
  list-style-type: none;
  display: flex;
}

li {
  padding: 0 2em 0 .125em;
}

  .portal {
    padding-bottom: none;
    text-decoration: none;
    background-color: #E6976F;
    padding: .5em;
    border-radius: .25em;
    margin-left: 6em;
  }

  .link {
    text-decoration: none;
  }

body {
      background-color: #ededed;
      margin: .5em;
      font-family: 'Open Sans', sans-serif;
    }
