@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Josefin+Slab:400,700');

/* Header */

.logo {
  max-width: 30%;
  margin: none;
}
/* Navigation */

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #2e4e57;
  max-width: 70%;
}

li {
  list-style: none;
  }

a {
    text-decoration: none;
  }

.About {
  padding: 1em;
}

.Services {
  padding: 1em;
}

.Events {
  padding: 1em;
}

.Guides {
  padding: 1em;
}

.Contact {
  padding: 1em;
}

/* Main Content */
body {
    max-width: 1000px;
    padding: 1em;
    font-family: "Josefin-Sans", sans-serif;
  }

section, main, aside, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}

/* Footer */
footer {
background-color: #284853;
padding: inherit;
color: #C6E0E8;
}
